* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    animation: transition 1s ease-out;
}

body, .container {
    margin: auto;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex: 1 1 16.667%;
    max-width: 16.667%;
}

.col-3 {
    flex:1 1 25%;
    max-width: 25%;
}

.col-4 {
    flex: 1 1 33.333%;
    max-width: 33.333%;
}

.col-5 {
    flex: 1 1 41.667%;
    max-width: 41.667%;
}

.col-6 {
    flex: 1 1 50%;
    max-width: 50%;
}

.col-7 {
    flex: 1 1 58.333%;
    max-width: 58.333%;
}

.col-8 {
    flex: 1 1 66.667%;
    max-width: 66.667%;
}

.col-12 {
    flex: 1 1 100%;
    max-width: 100%;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.default-ltr {
    position: relative;
    right: 50px;
    opacity: 0;
}

.animated-ltr {
    position: relative;
    right: 0px;
    opacity: 1;
} 

.default-rtl {
    position: relative;
    left: 50px;
    opacity: 0;
}

.animated-rtl {
    position: relative;
    left: 0px;
    opacity: 1;
}

/* header */
/* side nav */
header nav .sidenav {
    width: 0;
    position: fixed;
    z-index: 1000;
    background-color: #3f4a59;
    color: white;
    transition: 0.5s;
    overflow-x: hidden;
    height: 100%;
}

header nav .sidenav .logo img {
    width: 100%;
    height: 90%;
}

header nav .sidenav ul {
    padding: 0;
    list-style-type: none;
}

header nav .sidenav ul.navbar > .dropdown-btn {
    color: white;
    display: block;
    padding: 20px 0px 20px 50px;
    font-size: 20px;
}

header nav .sidenav ul.navbar li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 30px 20px 50px;
    font-size: 20px;
}

header nav .sidenav ul.navbar li.dropdown-btn:hover ul.dropdown-content {
    display: block;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

header nav .sidenav ul.navbar ul.dropdown-content {
    padding: 20px 0 0 0;
    display: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

header nav .sidenav div[class^="col-"] {
    text-align: center;
}

header nav .sidenav a.closeBtn {
    font-size: 40px;
    text-decoration: none;
    color: white;
}

header nav .sidenav a.closeBtn:hover {
    color: red;
    transition: 0.4s;
}

header nav .sidenav ul.navbar li a:hover {
    background-image: linear-gradient(to right, cyan, purple);
    color: white;
    transition: 0.4s;
}

header nav .sidenav .row {
    align-items: center;
}

header nav .openBtn {
    padding: 15px 40px;
    font-size: 50px;
    cursor: pointer;
}

header .img-container {
    background-image: url("../Assets/bg-events.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1200px;
}

header .learn-more {
    text-align: center;
    padding: 100px 0;
} 

header .learn-more h1 {
    font-size: 50px;
}

header .learn-more p {
    font-size: 25px;
    line-height: 1.6;
}

/* events section */
.events [class*="event-"]  {
    transition: all 2s;
    padding: 30px;
}

.events .container {
    overflow: hidden;
} 

.events .paragraph {
    padding: 0 0 0 50px;
} 

.events .event-2 .col-5 {
    order: 2;
}

.events .event-2 .col-7 {
    order: 1;
}

.events img {
    width: 100%;
}

/* footer */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}

/* responsive queries */
@media only screen and (max-width: 800px) {
    .img-container > .row > div {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .events .paragraph {
        padding: 0;
    } 

    .events div[class^="col-"] {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
    }

    .events .event-2 .col-5 {
        order: 1;
    }

    .events .event-2 .col-7 {
        order: 2;
    }
}

@media only screen and (max-width: 550px) {
    header .learn-more h1 {
        font-size: 30px;
    }
    
    header .learn-more p {
        font-size: 20px;
    }

    .events .paragraph h2 {
        font-size: 20px;
    }

    .events .paragraph h3 {
        font-size: 15px;
    }

    .events .paragraph p {
        font-size: 12px;
    }

    footer {
        font-size: 15px;
    }
}