* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    animation: transition 1s ease-out;
}

body, .container {
    margin: auto;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex: 1 1 16.667%;
    max-width: 16.667%;
}

.col-3 {
    flex:1 1 25%;
    max-width: 25%;
}

.col-4 {
    flex: 1 1 33.333%;
    max-width: 33.333%;
}

.col-5 {
    flex: 1 1 41.667%;
    max-width: 41.667%;
}

.col-6 {
    flex: 1 1 50%;
    max-width: 50%;
}

.col-7 {
    flex: 1 1 58.333%;
    max-width: 58.333%;
}

.col-8 {
    flex: 1 1 66.667%;
    max-width: 66.667%;
}

.col-12 {
    flex: 1 1 100%;
    max-width: 100%;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.default {
    position: relative;
    top: 50px;
    opacity: 0;
}

.animated {
    position: relative;
    top: 0px;
    opacity: 1;
}

/* header */
/* side nav */
header nav .sidenav {
    width: 0;
    position: fixed;
    z-index: 1000;
    background-color: #3f4a59;
    color: white;
    transition: 0.5s;
    overflow-x: hidden;
    height: 100%;
}

header nav .sidenav .logo img {
    width: 100%;
    height: 90%;
}

header nav .sidenav ul {
    padding: 0;
    list-style-type: none;
}

header nav .sidenav ul.navbar > .dropdown-btn {
    color: white;
    display: block;
    padding: 20px 30px 20px 50px;
    font-size: 20px;
}

header nav .sidenav ul.navbar li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 30px 20px 50px;
    font-size: 20px;
}

header nav .sidenav ul.navbar li.dropdown-btn:hover ul.dropdown-content {
    display: block;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

header nav .sidenav ul.navbar ul.dropdown-content {
    padding: 20px 0 0 0;
    display: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

header nav .sidenav div[class^="col-"] {
    text-align: center;
}

header nav .sidenav a.closeBtn {
    font-size: 40px;
    text-decoration: none;
    color: white;
}

header nav .sidenav a.closeBtn:hover {
    color: red;
    transition: 0.4s;
}

header nav .sidenav ul.navbar li a:hover {
    background-image: linear-gradient(to right, cyan, purple);
    color: white;
    transition: 0.4s;
}

header nav .sidenav .row {
    align-items: center;
}

header nav .openBtn {
    padding: 15px 40px;
    font-size: 50px;
    cursor: pointer;
}

header .img-container {
    background-image: url("../Assets/bg-characters.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1200px;
}

header .learn-more {
    text-align: center;
    padding: 100px 0;
} 

header .learn-more h1 {
    font-size: 50px;
}

header .learn-more p {
    font-size: 25px;
    line-height: 1.6;
}

/* character section */
.heroes {
    text-align: center;
    background-image: url("../Assets/bg-mountain.png");
    background-position: center;
    background-size: cover;
    width: 100%;

}

.heroes .cards-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.heroes .cards-list .caption {
    padding: 10px 0;
}

.heroes [class*="hero-"] {
    flex: 1 1 40%;
    max-width: 40%;
}

.heroes .fire {
    background-image: url("../Assets/fire.png");
    background-position: center;
    background-size: cover;
}

.heroes .water {
    background-image: url("../Assets/water.png");
    background-position: center;
    background-size: cover;
}

.heroes .physical {
    background-image: url("../Assets/physical.png");
    background-position: center;
    background-size: cover;
}

.heroes .cards-list img {
    width: 95%;
    border: 5px solid black;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.heroes .cards-list img:hover {
    background-color: rgba(0,0,0,0.7);
    transition: 0.4s;
}

.heroes .character-cards {
    transition: all 0.3s ease-in-out;
    padding: 0 40px;
}

.heroes .character-cards > .row {
    align-items: center;
    padding: 15px 0;
}

.heroes .character-cards h2.title {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

.heroes .character-cards h3.nickname {
    font-size: 25px;
}

.heroes .character-cards .col-7 {
    background-color: rgba(255,255,255,0.7);
    padding: 20px 0 0 0;
}

.heroes .character-cards p.description {
    padding: 20px;
    line-height: 1.6;
    font-size: 18px;
}

.heroes .character-cards img {
    width: 90%;
}


/* footer */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}

/* responsive queries */
@media only screen and (max-width: 800px) {
    /* type 1 */
    .img-container {
        height: 800px;
    }

    .img-container > .row > div {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .heroes .character-cards div[class^="col-"] {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .heroes-list div[class^="col-"] {
        flex: 1 1 100%;
        max-width: 100%;
    }
    /* type 2 */
    /* .heroes-list {
        width: 50%;
        max-width: 50%;
    } 

    .heroes {
        display: flex;
    }

    .character-cards {
        width: 50%;
        max-width: 50%;
    } */
}

@media only screen and (max-width: 550px) {
    header .learn-more h1 {
        font-size: 30px;
    }
    
    header .learn-more p {
        font-size: 20px;
    }

    .heroes .character-cards h2.title {
        font-size: 25px;
    }

    .heroes .character-cards h3.nickname {
        font-size: 20px;
    }

    .heroes .character-cards p.description {
        font-size: 15px;
    }
    
    footer {
        font-size: 15px;
    }
}
