* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    animation: transition 1s ease-out;
}

body, .container {
    margin: auto;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex: 1 1 16.667%;
    max-width: 16.667%;
}

.col-3 {
    flex:1 1 25%;
    max-width: 25%;
}

.col-4 {
    flex: 1 1 33.333%;
    max-width: 33.333%;
}

.col-5 {
    flex: 1 1 41.667%;
    max-width: 41.667%;
}

.col-6 {
    flex: 1 1 50%;
    max-width: 50%;
}

.col-7 {
    flex: 1 1 58.333%;
    max-width: 58.333%;
}

.col-8 {
    flex: 1 1 66.667%;
    max-width: 66.667%;
}

.col-12 {
    flex: 1 1 100%;
    max-width: 100%;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* header */
/* side nav */
header nav .sidenav {
    width: 0;
    position: fixed;
    z-index: 1000;
    background-color: #3f4a59;
    color: white;
    transition: 0.5s;
    overflow-x: hidden;
    height: 100%;
}

header nav .sidenav .logo img {
    width: 100%;
    height: 90%;
}

header nav .sidenav ul {
    padding: 0;
    list-style-type: none;
}

header nav .sidenav ul.navbar > .dropdown-btn {
    color: white;
    display: block;
    padding: 20px 0px 20px 50px;
    font-size: 20px;
}

header nav .sidenav ul.navbar li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 30px 20px 50px;
    font-size: 20px;
}

header nav .sidenav ul.navbar li.dropdown-btn:hover ul.dropdown-content {
    display: block;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

header nav .sidenav ul.navbar ul.dropdown-content {
    padding: 20px 0 0 0;
    display: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

header nav .sidenav div[class^="col-"] {
    text-align: center;
}

header nav .sidenav a.closeBtn {
    font-size: 40px;
    text-decoration: none;
    color: white;
}

header nav .sidenav a.closeBtn:hover {
    color: red;
    transition: 0.4s;
}

header nav .sidenav ul.navbar li a:hover {
    background-image: linear-gradient(to right, cyan, purple);
    color: white;
    transition: 0.4s;
}

header nav .sidenav .row {
    align-items: center;
}

header nav .openBtn {
    padding: 15px 40px;
    font-size: 50px;
    cursor: pointer;
}

header .img-container > .row {
    height: 100%;
}

header .img-container {
    background-image: url("../Assets/bg-register.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1200px;
}

header .register-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .learn-more {
    text-align: center;
    padding: 100px 0;
} 

header .learn-more h1 {
    font-size: 50px;
}

header .learn-more p {
    font-size: 25px;
    line-height: 1.6;
}

/* sign-up form */
header .register-form form {
    padding: 20px 50px;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    box-shadow: 5px 5px 10px black;
}

header .register-form form div[class^="i-"] {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

header .register-form form label[id^="err-"] {
    color: red;
}

header .register-form form div.i-gender > label {
    margin: 0 0 5px 0;
}

header .register-form form div.i-gender .gender-type > label {
    margin: 0 20px 0 0;
}

header .register-form form div.eula-checkbox {
    padding: 0 0 10px 0;
}

header .register-form form div input {
    margin: 5px 0;
}

header .register-form form .submit-btn, header .register-form form .title {
    text-align: center;
}

header .register-form form .submit-btn #submitBtn:disabled {
    padding: 10px 40px;
    background-color: grey;
    background-image: linear-gradient(to left, #f9f9f9, #f9f9f9);
    border: solid grey 1px;
    border-radius: 100000px;
}

header .register-form form .submit-btn #submitBtn {
    padding: 10px 40px;
    border: none;
    background-image: linear-gradient(to left, #7ee8fa 0%, #80ff72 74%);
    border: solid #80ff72 1px;
    background-position: right center;
    border-radius: 100000px;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}

/* responsive queries */
@media only screen and (max-width: 800px) {
    .img-container > .row > div {
        flex: 1 1 100%;
        max-width: 100%;
    }
}