* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    animation: transition 1s ease-out;
}

body, .container {
    margin: auto;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex: 1 1 16.667%;
    max-width: 16.667%;
}

.col-3 {
    flex:1 1 25%;
    max-width: 25%;
}

.col-4 {
    flex: 1 1 33.333%;
    max-width: 33.333%;
}

.col-5 {
    flex: 1 1 41.667%;
    max-width: 41.667%;
}

.col-6 {
    flex: 1 1 50%;
    max-width: 50%;
}

.col-7 {
    flex: 1 1 58.333%;
    max-width: 58.333%;
}

.col-8 {
    flex: 1 1 66.667%;
    max-width: 66.667%;
}

.col-12 {
    flex: 1 1 100%;
    max-width: 100%;
}

section.about, section.cards {
    padding: 20px;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.default {
    position: relative;
    top: 50px;
    opacity: 0;
}

.animated {
    position: relative;
    top: 0px;
    opacity: 1;
}

/* side nav */
header nav .sidenav {
    width: 0;
    position: fixed;
    z-index: 1000;
    background-color: #3f4a59;
    color: white;
    transition: 0.5s;
    height: 100%;
    overflow-x: hidden;
}

header nav .sidenav .logo img {
    width: 100%;
    height: 90%;
}

header nav .sidenav ul {
    padding: 0;
    list-style-type: none;
}

header nav .sidenav ul.navbar > .dropdown-btn {
    color: white;
    display: block;
    padding: 20px 0px 20px 50px;
    font-size: 20px;
    cursor: pointer;
}

header nav .sidenav ul.navbar li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 30px 20px 50px;
    font-size: 20px;
}

header nav .sidenav ul.navbar li.dropdown-btn:hover ul.dropdown-content {
    display: block;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

header nav .sidenav ul.navbar ul.dropdown-content {
    padding: 20px 0 0 0;
    display: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

header nav .sidenav div[class^="col-"] {
    text-align: center;
}

header nav .sidenav a.closeBtn {
    font-size: 40px;
    text-decoration: none;
    color: white;
}

header nav .sidenav a.closeBtn:hover {
    color: red;
    transition: 0.4s;
}

header nav .sidenav ul.navbar li a:hover {
    background-image: linear-gradient(to right, cyan, purple);
    color: white;
    transition: 0.4s;
}

header nav .sidenav .row {
    align-items: center;
}

header nav .openBtn {
    padding: 15px 40px;
    font-size: 50px;
    cursor: pointer;
}

header .img-container {
    background-image: linear-gradient(to top, rgba(0,0,0,0.95), rgba(0,0,0,0)),url("../Assets/bg-header-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1200px;
}

header .learn-more {
    text-align: center;
    padding: 100px 0;
} 

header .learn-more h1 {
    font-size: 50px;
}

header .learn-more p {
    font-size: 25px;
    line-height: 1.6;
}
  
/* about section */
section.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), 
                        url("../Assets/bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

section.about h2 {
    font-size: 45px;
    color: white;
    padding: 10px 0;
    transition: all 2s;
}

section.about p {
    font-size: 20px;
    line-height: 1.6;
    color: white;
    transition: all 2s;
}

section.about .features {
    transition: all 2s;
}

section.about .features .row > div {
    padding: 0 20px;
}

section.about .features img {
    width: 70%;
    border-radius: 20px;
}

section.about .features h3 {
    font-size: 25px;
    color: white;
}

/* cards of characters */
section.cards {
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,9), rgba(0,0,0,0)),url("../Assets/bg-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

section.cards .container > .row {
    align-items: center;
}

section.cards img {
    width: 70%;
    transition: all 2s;
}

section.cards h2.continue {
    font-size: 25px;
    color: white;
}

section.cards h2.title {
    color: white;
    font-size: 45px;
    padding: 10px 0px;
    transition: all 2s;
}

section.cards h2.subtitle { 
    transition: all 2s;
    color: white;
}

/* image-slider */
section.background-slider {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)),url("../Assets/bg-image-slider.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.background-slider .container > .row {
    align-items: center;
}

section.background-slider .title {
    text-align: center;
    padding: 0px 20px;
}

section.background-slider .title h2{
    padding: 7% 0px 10px 0px;
    margin: 0;
    color: white;
    font-size: 45px;
}

#slider{
    width: 90%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 7% 0;
}

section#slider h2{ 
    text-align: center;
}

section#slider figure img { 
    width: 33.333%;  
    object-fit: cover;
    float: left;
    border-radius: 20px;
}

section#slider figure { 
    position: relative;
    width: 300%;
    height: 100%;
    margin: 0;
    left: 0;
    transition: 1s ease-in-out;
}

section#slider  .next, .prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    opacity: 70%;
    font-size: 20pt;
    border: 2px solid black;
}

section#slider .prev{
    left: 0px;
}

section#slider .next{
    right: 0px;
}

.background-slider ul {
    padding: 0 8%;
}

.background-slider ul > li > a {
    text-decoration: none;
    color: white;
    line-height: 2;
    font-size: 25px;
}

/* footer */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}

/* responsive queries */
@media only screen and (max-width: 800px) {
    .img-container > .row > div {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .about div[class^="col-"] {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .cards div[class^="col-"] {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .background-slider div[class^="col-"] {
        flex: 1 1 100%;
        max-width: 100%;
    }

    section.about .features img {
        width: 50%;
        border-radius: 20px;
    }

    section.cards {
        text-align: center;
        background-image: linear-gradient(to bottom, rgba(0,0,0,9), rgba(0,0,0,0)),url("../Assets/bg-2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background-slider .col-6 .event-list {
        display: none;
    }
}

/* responsive queries for smartphone font size*/
@media only screen and (max-width: 550px) {
    header .learn-more h1 {
        font-size: 30px;
    }
    
    header .learn-more p {
        font-size: 20px;
    }

    section.about h2 {
        font-size: 30px;
    }
    
    section.about p {
        font-size: 18px;
    }

    section.about .features h3 {
        font-size: 20px;
    }

    section.cards h2.continue {
        font-size: 20px;
    }
    
    section.cards h2.title {
        font-size: 30px;
    }
    
    section.cards h2.subtitle { 
        font-size: 20px;
    }

    .background-slider ul > li > a {
        font-size: 20px;
    }

    section.background-slider .title h2{
        font-size: 30px;
    }

    footer {
        font-size: 15px;
    }
}

